h1 {
    font-size: 5rem;
    margin: 0;
    display: grid;
    text-align: center;
    height: 100vh;
    line-height: 90vh;
    color: #fcedd8;
    background: #d52e3f;
    font-family: 'Niconne', cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b,
        5px 5px 0px #efa032,
        10px 10px 0px #46b59b,
        10px 10px 0px #017e7f,
        12px 12px 0px #052939,
        15px 15px 0px #c11a2b,
        17px 17px 0px #c11a2b,
        20px 20px 0px #c11a2b,
        22px 22px 0px #c11a2b;
}
